/* Root Variables */
:root {
    --white: #ffffffff;
--rich-black: #00171fff;
--prussian-blue: #003459ff;
--cerulean: #007ea7ff;
--picton-blue: #00a8e8ff;
}

/* General Styling */
body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--antiflash-white);
    color: var(--space-cadet);
}

.card:hover {
    background-color: var(--cerulean);
    color: var(--white);
}

/* Sidebar */
.sidebar {
    width: 25%;
    background-color: var(--rich-black);
    padding: 10px;
    border-right: 1px solid var(--space-cadet);
    overflow-y: auto;
    height: 100vh;
    color: var(--white);
}

/* Content */
.content {
    width: 75%;
    padding: 10px;
    overflow-y: auto;
    height: 100vh;
}

/* Pivot Table */
.pivot-table table {
    width: 100%;
    /* border-collapse: collapse; */
    border-spacing: 0;
    margin-top: 20px;
    background: var(--antiflash-white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 0px solid var(--prussian-blue);
}
.pivot-table th, .pivot-table td {
    border: 1px solid var(--prussian-blue);
    /* border-radius: 5px; */
    padding: 8px;
    text-align: left;
}

/* .pivot-table td table {
    border-radius: 5px;
} */

.pivot-table td table tr td {
    border: 2px solid var(--prussian-blue);
    border-radius: 5px;
}

/* .pivot-table td table tr td:last-child {
    border: 2px solid green;
    border-radius: 10px;
} */

.pivot-table th {
    background-color: var(--dark-cyan);
    color: var(--antiflash-white);
}
.pivot-table .group {
    background-color: var(--process-cyan);
    font-weight: bold;
    color: var(--antiflash-white);
}

/* Reset Button */
.reset-btn {
    background-color: var(--dark-cyan);
    color: var(--antiflash-white);
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 20px;
    transition: background-color 0.3s;
}
.reset-btn:hover {
    background-color: var(--process-cyan);
}

/* Card Styling */
.card {
    background-color: var(--prussian-blue);
    /* border: 1px solid var(--white); */
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    color: var(--antiflash-white);
}
.card img {
    width: 30%;
    height: 20%;
    object-fit: scale-down;
    border-radius: 3px;
}
.card h3 {
    margin: 10px 0 5px;
    font-size: 18px;
}
.card p {
    font-size: 14px;
    color: var(--antiflash-white);
}
.grayed-out {
    opacity: 0.2;
    pointer-events: none;
}
.card .highlight-btn {
    display: block;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: var(--process-cyan);
    color: var(--antiflash-white);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}
.card .highlight-btn:hover {
    background-color: var(--dark-cyan);
}

.highlight{
    background-color: var(--cerulean);
    color: var(--white);
}

.card .plus {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-color: var(--dark-cyan);
    color: var(--antiflash-white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
}

/* Details */
.details {
    display: none;
    font-size: 14px;
    margin-top: 10px;
    color: var(--antiflash-white);
}

.value:hover {
    background-color: var(--white);
    color: var(--prussian-blue);
}